[submodule "workshop-common"]
	path = workshop-common
	url = https://github.com/NBISweden/workshop-common.git
[submodule "workshop-genome_assembly/2016-11-14"]
	path = workshop-genome_assembly/2016-11-14
	url = https://github.com/NBISweden/workshop-genome_assembly.git
	branch = archive/2016-11-14
[submodule "workshop-genome_assembly/2017-11-15"]
	path = workshop-genome_assembly/2017-11-15
	url = https://github.com/NBISweden/workshop-genome_assembly.git
	branch = archive/2017-11-15
