[submodule "workshop-common"]
	path = workshop-common
	url = ../workshop-common.git
[submodule "workshop-genome_assembly/2016-11-14"]
	path = workshop-genome_assembly/2016-11-14
	url = ../workshop-genome_assembly.git
	branch = archive/2016-11-14
[submodule "workshop-genome_assembly/2017-11-15"]
	path = workshop-genome_assembly/2017-11-15
	url = ../workshop-genome_assembly.git
	branch = archive/2017-11-15
[submodule "workshop-genome_annotation/2019-05-15"]
	path = workshop-genome_annotation/2019-05-15
	url = https://github.com/NBISweden/workshop-genome_annotation.git
	branch = archive/2019-05-15
[submodule "workshop-genome_annotation_elixir/2019-07-01"]
	path = workshop-genome_annotation_elixir/2019-07-01
	url = https://github.com/NBISweden/genome_annotation_elixir.git
	branch = archive/2019-07-01
[submodule "workshop-scRNAseq/2018-05-21"]
	path = workshop-scRNAseq/2018-05-21
	url = ../workshop-scRNAseq.git
	branch = may2018
[submodule "workshop-ChIP-seq/2018-11-07"]
	path = workshop-ChIP-seq/2018-11-07
	url = ../workshop-ChIP-seq.git
	branch = archive/2018-11-07
[submodule "workshop-scRNAseq/2019-02-04"]
	path = workshop-scRNAseq/2019-02-04
	url = ../workshop-scrnaseq.git
	branch = feb2019
[submodule "workshop-scRNAseq/2020-01-27"]
	path = workshop-scRNAseq/2020-01-27
	url = https://github.com/NBISweden/workshop-scrnaseq.git
	branch = jan2020
[submodule "workshop-snakemake-byoc/2020-10-07"]
	path = workshop-snakemake-byoc/2020-10-07
	url = https://github.com/NBISweden/workshop-snakemake-byoc.git
	branch = archive/2020-10-07
[submodule "workshop-scRNAseq/2023-01-30"]
	path = workshop-scRNAseq/2023-01-30
	url = https://github.com/NBISweden/workshop-scrnaseq.git
	branch = feb2023
